@{
    ViewData["Title"] = "寄望語";
}
<h1>@ViewData["Title"]</h1>

<p style="font-size: 2.5em; color: #000;">
    <br>協助上路之駕駛事先的預覽相關資訊。系統會顯示目前路段擁擠度分色等級，基礎氣候資訊提供，亦特殊駕駛注意事項。</br>
    <br> 1.	當前路段的均速  </br>
    <br> 2.	特定路段擁堵度-分色等級  </br>
    <br>3.	提供安全駕駛建議（如雨天駕駛注意事項） </br>
   
</p>
